body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
	box-sizing: border-box;
}

#map {
	box-sizing: border-box;
	vertical-align: top;
	display: none;
}

#hyperlist_wrap {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

body.map #map,
body.map #hyperlist_wrap {
	display: inline-block;
	width: 50%;
	height: 100%;
}

/* Default sizes */
body #photos .photorow {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.photorow > .tn {
	background-image: url('../img/loading.png');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center center;
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	position: relative;
	cursor: pointer;
	border: calc(100vw/250) outset #ddd;
	border-radius: max(1.5vw,8px);
	overflow: hidden;
}

.photorow > .tn.nolink {
	cursor: auto;
	background-image: none;
	display: flex;
	align-items: center;
	align-content: center;
	align-self: center;
	justify-items: center;
	justify-content: center;
	justify-self: center;
	text-align: center;
}

.photorow > .tn > img,
.photorow > .tn > div.spacer
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;	
}

.photorow > .tn.flash:after {
	position: absolute;
	z-index: 3;
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
	content: " ";
	opacity: 0.4;
	-webkit-transition: opacity 0.05s ease-in-out;
	-moz-transition: opacity 0.05s ease-in-out;
	-ms-transition: opacity 0.05s ease-in-out;
	-o-transition: opacity 0.05s ease-in-out;
	transition: opacity 0.05s ease-in-out;
}


.tn.vid:before {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: " ";
	background-image: url('../img/playbutton.png');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center; 
	font-size: 10em;
	opacity: 0.4;
}

.tn.vid:hover:before {
	filter: invert(100%);
}

body       .tn {width: calc(100vw/5);  height: calc(100vw/5);  font-size: 4vw;   }
body .up1  .tn {width: calc(100vw/1);  height: calc(100vw/1);  font-size: 22vw;  }
body .up2  .tn {width: calc(100vw/2);  height: calc(100vw/2);  font-size: 10vw;  }
body .up3  .tn {width: calc(100vw/3);  height: calc(100vw/3);  font-size: 7vw;   }
body .up4  .tn {width: calc(100vw/4);  height: calc(100vw/4);  font-size: 5vw;   }
body .up5  .tn {width: calc(100vw/5);  height: calc(100vw/5);  font-size: 4vw;   }
body .up6  .tn {width: calc(100vw/6);  height: calc(100vw/6);  font-size: 3.5vw; }
body .up7  .tn {width: calc(100vw/7);  height: calc(100vw/7);  font-size: 3vw;   }
body .up8  .tn {width: calc(100vw/8);  height: calc(100vw/8);  font-size: 2.5vw; }
body .up9  .tn {width: calc(100vw/9);  height: calc(100vw/9);  font-size: 2.2vw; }
body .up10 .tn {width: calc(100vw/10); height: calc(100vw/10); font-size: 2vw;   }


/** Tools */

#datepicker {
	display: block;
	position: absolute;
	height: 50%;
	max-width: 100%;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	opacity: 0;
}

#speedslide {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* Chromium */
	width: 8px;
	height: 175px;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 10px;
	height: calc(100% - 60px);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

#resizer {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	z-index: 1000;
}

#resizer > input {
	direction: rtl;
}

#resizer > div {
	cursor: pointer;
	width: 30px;
	height: 30px;
	z-index: 1000;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#resizer > div,
#resizer > input,
#speedslide {
	opacity: 0.7;
	display: inline-block;
	vertical-align: middle;
}

#resizer > div:hover,
#resizer > input:hover,
#speedslide:hover {
	opacity: 1;
}

#resizer > div.active  {
	background-color: yellow;
	border: 2px inset black;
}

#rewindicon {
	background-image: url('../img/rewind.png');
}

#globeicon {
	background-image: url('../img/globe.png');
}

#tagicon {
	background-image: url('../img/tag.png');
}

#exiticon {
	background-image: url('../img/exit.png');
}

.disabled {
	display: none !important;
}

#calendaricon {
	background-image: url('../img/calendar.png');
}

/** Thumbnail controls **/
#thumb, #tagwindow {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	right: 0;
	height: calc(100% - 30px);
	width: 100%;
	margin: 0 0 30px 0;
	background-color: rgba(255,255,255,.8);
	border-radius: 4px;
	-webkit-transition: opacity 5s ease-in-out;
	-moz-transition: opacity 5s ease-in-out;
	-ms-transition: opacity 5s ease-in-out;
	-o-transition: opacity 5s ease-in-out;
	padding: 10px;
	display: flex;
	z-index: 10;
	overflow: hidden;
}

body.map #thumb, body.map #tagwindow {
	width: 50%;
}


#thumbcontrols {
	background-color: rgba(100,100,255,.8);
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: left;
	text-align: center;
}

#thumbcontrols > div {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	cursor: pointer;
	font-size: 15px;
	height: 100%;
	width: 30px;
}

#thumbcontrols > div:hover {
	font-size: 11px;
}

#thumbcontrols > div > img {
	height: 15px;
}

#thumbcontrols > div:hover > img {
	height: 11px;
}

#thumbcontrols > div#thumbinfo {
	width: auto;
	height: auto;
	margin-left: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
}

#sharelinkcopy {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
}

#infowrap {
	float: right;
}

#thumbgeo[data-coordinates=""] {
	display: none;
}

.thumbctrl {
	width: 150px;
	max-width: 30%;
	height: calc(100% - 30px);
	position: absolute;
	top: 0;
	opacity: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 100000;
}

.thumbctrl:hover {
	opacity: 0;
}

#thumbleft {
	left: 0;
}
#thumbright {
	right: 0;
}

#thumbcontent {
	overflow: hidden;
	height: calc(100% - 30px);
	width: 100%;
}

#thumbcontent img,
#thumbcontent video {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
} 

#mapfilter {
	border: 2px outset #ddd;
	background-color: white;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

#mapfilter:hover {
	background-color: #f4f4f4;
}


#mapfilter.active {
	background-color: yellow;
}

#mapfilter.active:hover {
	background-color: #fbff86;
}

body.debug .tn:before {
	content: attr(data-maybememe);
	color: #444;
	position: absolute;
	padding: 3px;
	background-color: rgba(256,256,256,0.8);
}

/** Media Queries */

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.container {
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
}



/* When the map is open AND we're landscape, everything is half as wide */
@media(orientation: landscape) {
	body.map	   .tn {width: calc(50vw/5);  height: calc(50vw/5);  font-size: 2px;   }
	body.map .up1  .tn {width: calc(50vw/1);  height: calc(50vw/1);  font-size: 11vw;  }
	body.map .up2  .tn {width: calc(50vw/2);  height: calc(50vw/2);  font-size: 5vw;  }
	body.map .up3  .tn {width: calc(50vw/3);  height: calc(50vw/3);  font-size: 3.5vw;   }
	body.map .up4  .tn {width: calc(50vw/4);  height: calc(50vw/4);  font-size: 2.5vw;   }
	body.map .up5  .tn {width: calc(50vw/5);  height: calc(50vw/5);  font-size: 2vw;   }
	body.map .up6  .tn {width: calc(50vw/6);  height: calc(50vw/6);  font-size: 1.75vw; }
	body.map .up7  .tn {width: calc(50vw/7);  height: calc(50vw/7);  font-size: 1.5vw;   }
	body.map .up8  .tn {width: calc(50vw/8);  height: calc(50vw/8);  font-size: 1.25vw; }
	body.map .up9  .tn {width: calc(50vw/9);  height: calc(50vw/9);  font-size: 1.1vw; }
	body.map .up10 .tn {width: calc(50vw/10); height: calc(50vw/10); font-size: 1vw;   }
}

/* If we're in portrait mode we just swap into over under and widths remain the same */
@media(orientation: portrait) {
	body.map #map, 
	body.map #hyperlist_wrap {
		width: 100%;
		height: 50%;
	}
	body.map #thumb, body.map #tagwindow {
		height: calc(50% - 30px);
		width: 100%;
	}
}


/* Login page */

#loginform {
 position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border: 3px solid rgba(100,100,255,.8);
	padding: 10px 40px;
	border-radius: 5px;
	box-shadow: 3px 3px #888888;
}


#loginform .inputline {
	margin-top: 15px;
	display: flex;
}

#loginform input {
	display: inline-block;
	margin: auto 0 auto auto;
	border-radius: 0;
	border-style: solid;
}

#loginform input[type=checkbox] {
	transform: scale(1.5);
	border: solid 1px;
	border-radius: 0;
}
#loginform label {
	display: inline-block;
  margin-right: 5px;
}
#loginform input[type=submit] {
	padding: 6px;
}

#thetags {
	border: 1px solid black;
	overflow: auto;
	max-height: calc(100% - 50px);
}


.onetag {
	border: 1px solid black;
	display: inline-block;
	border-radius: 15px;
	padding: 3px 15px;
	margin: 3px;
	background-color: white;
	cursor: pointer;
}

.onetag:hover, .onetag.active:hover {
	border-style: outset;
	background-color: #ffe08a;
}

.onetag.active {
	background-color: #ffbc03
}



.tagtooltoggle {
	display: inline-block;
	margin: 4px;
}

.tagtooltoggle span {
	border: 2px outset orange;
	padding: 3px 6px;
	background-color: #ffe08a;
	color: #666;
	cursor: pointer;
	box-sizing: border-box;
	display: inline-block;
}

.tagtooltoggle span.active {
	background-color: #ffbc03;
	color: #000;
	border-style: inset;
}



#tagwindow {
	flex-direction: column;
}

#thetags {
	border: 1px solid black;
	overflow: auto;
	flex-grow: 1;
}

#and_or_toggle {
	background-color: rgba(100,100,255,.8);
	margin-bottom: 4px;
}

#tagwindowclose {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	vertical-align: top;
}

.nowrap {
	display: inline-block;
}

#tagon.active {
	background-color: #c0ff96;
}

#tagoff.active {
	background-color: #fc9590;
}

.nowrap span:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.nowrap span:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}


#thumbcontrols > .fakelink {
    max-height: 100%;
	overflow: hidden;
}

.fakelink img {
	max-height: 100%;
}
