; Folder path to cache directory. sqlite and thumbnails will be stored here
; Optional, will create a cache folder in the currend directory as the default
; filecache = "/shared/big/no_backup/web_cache/famvacation_2021/"

; URL path to cache directory. 
; Optional, will use current web path + cache as default
; cacheurl = "/shared/big/no_backup/web_cache/famvacation_2021/"

; File path to full sized photos
; Optional, will use current directory as default
; photobase = "/shared/big/Photos/famvacation_2021/"

; URL path to full sized photos
; Optional, will use current web path as default
; photourl = "/shared/big/Photos/famvacation_2021/"

; URL path to static assets
; Optional, will use current web path as default
; staticurl = "/famvacation_2021/"

; URL path to static assets
; Optional, will use current web path as default
; staticurl = "/famvacation_2021/"

; Sort order of files ASC = oldest first, DESC = newest first
; Optional, defaults to newest first (scrolling down for older)
; sortorder = ASC

; Which date labels should be shown? 
; Optional, defaults to month
; Valid values: year, month, day
; datelabels = month

sitetitle="My Custom Site Title"

; Find all files, or just those in a YYYY/MM/DD/ folder? 
; possible values 'all' or 'datesbased'
filestructure='all'

show_map=true
show_onthisday=true
show_datejump=true
show_tagging=true
