html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.photos .thumbnail, 
.body {
	background-image: url('loading.png');
}

body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100px;
	overflow-anchor: auto; 
}

.photos {
	scroll-snap-type: y mandatory;
	position: absolute;
	left: 0;
	vertical-align: top;
	box-sizing: border-box;
	width: calc(100% + 17px);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 1;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
}

.photos .thumbnail {
	margin: 0;
	padding: 0;
	border: 0;
	width: 20vw;
	height: 20vw;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	scroll-snap-align: start;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	position: relative;
}

.photos .thumbnail:after {
	content: attr(data-date);
	max-height: 50%;
	max-width: 75%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1px 6px;
	display: inline-block;
	box-sizing: border-box;
	background-color: rgba(255,255,255,.8);
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-letter;
}

.y1980 ~ .y1980:after, .y1981 ~ .y1981:after, .y1982 ~ .y1982:after, .y1983 ~ .y1983:after, .y1984 ~ .y1984:after, .y1985 ~ .y1985:after,
.y1986 ~ .y1986:after, .y1987 ~ .y1987:after, .y1988 ~ .y1988:after, .y1989 ~ .y1989:after, .y1990 ~ .y1990:after, .y1991 ~ .y1991:after,
.y1992 ~ .y1992:after, .y1993 ~ .y1993:after, .y1994 ~ .y1994:after, .y1995 ~ .y1995:after, .y1996 ~ .y1996:after, .y1997 ~ .y1997:after,
.y1998 ~ .y1998:after, .y1999 ~ .y1999:after, .y2000 ~ .y2000:after, .y2001 ~ .y2001:after, .y2002 ~ .y2002:after, .y2003 ~ .y2003:after,
.y2004 ~ .y2004:after, .y2005 ~ .y2005:after, .y2006 ~ .y2006:after, .y2007 ~ .y2007:after, .y2008 ~ .y2008:after, .y2009 ~ .y2009:after,
.y2010 ~ .y2010:after, .y2011 ~ .y2011:after, .y2012 ~ .y2012:after, .y2013 ~ .y2013:after, .y2014 ~ .y2014:after, .y2015 ~ .y2015:after,
.y2016 ~ .y2016:after, .y2017 ~ .y2017:after, .y2018 ~ .y2018:after, .y2019 ~ .y2019:after, .y2020 ~ .y2020:after, .y2021 ~ .y2021:after,
.y2022 ~ .y2022:after, .y2023 ~ .y2023:after, .y2024 ~ .y2024:after, .y2025 ~ .y2025:after, .y2026 ~ .y2026:after, .y2027 ~ .y2027:after,
.y2028 ~ .y2028:after, .y2029 ~ .y2029:after, .y2030 ~ .y2030:after, .y2031 ~ .y2031:after, .y2032 ~ .y2032:after, .y2033 ~ .y2033:after,
.y2034 ~ .y2034:after, .y2035 ~ .y2035:after, .y2036 ~ .y2036:after, .y2037 ~ .y2037:after, .y2038 ~ .y2038:after, .y2039 ~ .y2039:after,
.y2040 ~ .y2040:after, .y2041 ~ .y2041:after, .y2042 ~ .y2042:after, .y2043 ~ .y2043:after, .y2044 ~ .y2044:after, .y2045 ~ .y2045:after,
.y2046 ~ .y2046:after, .y2047 ~ .y2047:after, .y2048 ~ .y2048:after, .y2049 ~ .y2049:after, .y2050 ~ .y2050:after, .y2050 ~ .y2050:after {
	display: none;
}

.photos .thumbnail img {
	width: 100%;
	height: 100%;
}

#photospacer {
	height: 0;
	-webkit-transition: height 0.1s ease-in-out;
	-moz-transition:	height 0.1s ease-in-out;
	-ms-transition:		height 0.1s ease-in-out;
	-o-transition:		height 0.1s ease-in-out;
}

.scroller {
	position: fixed;
	right: 0;
	height: 100%;
	box-sizing: border-box;
	display: table;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	cursor: pointer;
	height: calc(100% - 30px);
	z-index: 9;
}

.scroller:hover {
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
}

.scroller:hover .nav {
	opacity: 0.6;
}

.scroller .nav {
	text-align: center;
	display: table-row;
	background-color: white;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	opacity: .4;
}


.scroller .nav:hover {
	opacity: 1;
	font-size: 25px;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
}

.scroller .nav .year {
	display: table-cell;
	vertical-align: middle;
}

.scroller .nav.active {
	opacity: 1;
	font-weight: bold;
}
.scroller .nav.active .year {
	opacity: 1;
	font-weight: bold;
}

.calendarpick {
	display: none;
}


#resizer {
	position: fixed;
	bottom: 0;
	width: 100%;
	direction: rtl
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.3; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;


	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

#thumb {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	margin: 10px;
	background-color: rgba(255,255,255,.8);
	border-radius: 4px;
	-webkit-transition: opacity 5s ease-in-out;
	-moz-transition: opacity 5s ease-in-out;
	-ms-transition: opacity 5s ease-in-out;
	-o-transition: opacity 5s ease-in-out;
	padding: 10px;
	display: none;
	z-index: 10;
}

#thumbcontrols {
	background-color: rgba(100,100,255,.8);
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#thumbclose {
	position: absolute;
	bottom: 70px;
	right: 10px;
	cursor: pointer;
}

#thumb h2 {
	font-size: 16px;
	color: #333;
	margin:0;
	padding:0;
}

#thumbcontent {
	overflow: hidden;
	height: calc(100% - 100px);
	width: 100%;
}

#thumbcontent img,
#thumbcontent video {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#notification {
	position: absolute;
	bottom: 40px;
	left: 10px;
	width: 300px;
	background-color: rgba(255,255,255,.8);
	height: 100px;
	border-radius: 4px;
	opacity:0;
	-webkit-transition: opacity 5s ease-in-out;
	-moz-transition: opacity 5s ease-in-out;
	-ms-transition: opacity 5s ease-in-out;
	-o-transition: opacity 5s ease-in-out;
	padding: 10px;
	z-index: 2;
}


#notification h2 {
	font-size: 16px;
	color: #333;
	margin:0;
	padding:0;
}

#notification.new, #notification:hover {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
}

#thumb a.download:before,
#notification a.download:before {
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"⏬";
	font-size: 15px;
	margin-right:5px;
}

#thumb a.flag:before,
#notification a.flag:before {
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"🚩";
	font-size: 15px;
	margin-right:5px;
}


.thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
}

.thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
}

.thumbnail[data-isvideo="1"]:before {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: " ";
	background-image: url('playbutton.png');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center; 
	font-size: 10em;
	opacity: 0.4;
}

